th,
td {
  font-family: "Courier New", Courier, monospace;
}

table,
td,
th {
  border: solid 2px black;
  border-collapse: collapse;
}

table tbody tr:nth-child(odd) {
  background-color: #ff6f00;
}

table tbody tr:nth-child(even) {
  color: white;
  background-color: #c43e00;
}

table thead tr {
  color: white;
  background-color: #c43e00;
}
